In [27]:
import numpy as np
import pandas as pd
from scipy.io import arff

In [28]:
arff_path = "zoo.arff"

In [29]:

data, meta = arff.loadarff(arff_path)

In [30]:
# декодируем данные
df = pd.DataFrame(data)
for col in df.columns:
    if df[col].dtype == object:  # если колонка строкового типа
        df[col] = df[col].str.decode('utf-8')

In [31]:
df.head(15)

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,true,false,false,true,false,false,true,true,true,true,false,false,4.0,false,false,true,mammal
1,antelope,true,false,false,true,false,false,false,true,true,true,false,false,4.0,true,false,true,mammal
2,bass,false,false,true,false,false,true,true,true,true,false,false,true,0.0,true,false,false,fish
3,bear,true,false,false,true,false,false,true,true,true,true,false,false,4.0,false,false,true,mammal
4,boar,true,false,false,true,false,false,true,true,true,true,false,false,4.0,true,false,true,mammal
5,buffalo,true,false,false,true,false,false,false,true,true,true,false,false,4.0,true,false,true,mammal
6,calf,true,false,false,true,false,false,false,true,true,true,false,false,4.0,true,true,true,mammal
7,carp,false,false,true,false,false,true,false,true,true,false,false,true,0.0,true,true,false,fish
8,catfish,false,false,true,false,false,true,true,true,true,false,false,true,0.0,true,false,false,fish
9,cavy,true,false,false,true,false,false,false,true,true,true,false,false,4.0,false,true,false,mammal
10,cheetah,true,false,false,true,false,false,true,true,true,true,false,false,4.0,true,false,true,mammal
11,chicken,false,true,true,false,true,false,false,false,true,true,false,false,2.0,true,true,false,bird
12,chub,false,false,true,false,false,true,true,true,true,false,false,true,0.0,true,false,false,fish
13,clam,false,false,true,false,false,false,true,false,false,false,false,false,0.0,false,false,false,invertebrate
14,crab,false,false,true,false,false,true,true,false,false,false,false,false,4.0,false,false,false,invertebrate