In [3]:
import numpy as np
import pandas as pd

In [4]:
x = np.array([[1.2],
              [1.3],
              [1.4],
              [1.5]])
x

array([[1.2],
       [1.3],
       [1.4],
       [1.5]])

In [5]:
authors = pd.DataFrame({
    'author_id': [1,2,3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
})

In [7]:
books = pd.DataFrame({
    'author_id': [1,1,1,2,2,3,3],
    'book_title': ['Отцы и дети', 'Рудни','Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450,300,350,500,450,370,290]
})

In [8]:
authors_price = pd.merge(authors,books,on='author_id', how='outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудни    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290